/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Gloria Hallelujah, cursive;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

/* MENU */
.menu {
    position: fixed;
    top: 1em;
    right: 1em;
    color: white;
    z-index: 100;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline li a {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* MAIN-SHOES */
.shoes-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* ABSOLUTE CENTER LOW for shoes img and h2 */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

.container h2 {
    font-size: 4vw;
}

#blue-shoes {
    object-fit: cover;    
}

#white-shoes {
    object-fit: cover;    
}

#green-shoes {
    object-fit: cover;    
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

